[submodule "layers/languagetool"]
	path = layers/languagetool
	url = https://github.com/jsmestad/spacemacs-langtool
[submodule "layers/myleetcode"]
	path = layers/myleetcode
	url = https://github.com/anmoljagetia/leetcode-emacs-layer.git
